body{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/

}


header {
    margin-top:-8px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:101%;
    height:60px;
    background-color:#66BB6A;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.splashContainer {
    margin-top:30px;
    background-image: url("/images/newsize.png");
    height:98vh;
    width:1420px;
}

.mobileContent {
    display:none;
}

@media only screen
  and (min-device-width: 230px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

   .splashContainer {
          display:none;
          margin-top:30px;
          background-image: url("/");
          height:98vh;
          width:1420px;
      }

    .mobileContent {
        display: flex;
    }

    .navigation {
        display:none;
    }

    header {
        display: none;
    }

}

.portfolio {
    margin-top:170px;
    margin-left:70px;
    width: 280px;
    height:130px;
    transform: rotate(160deg);
}

.blog {
    margin-right: 70px;
    margin-top: 220.5px;
    width: 280px;
    height:130px;
    transform: rotate(20deg);
}

.about {
    margin-left:50px;
    margin-top:-30px;
    width: 280px;
    height:auto;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.blogImage {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.blogImage:hover {
    width: 100%;
    height: 90%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    cursor: pointer;
    transition-duration: 0.30s
}

.aboutImage {
    box-shadow: 0 1px 1px rgba(0,0,0,1), 0 1px 1px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.aboutImage:hover {
    width: 100%;
    height:120px;
    box-shadow: 0 14px 28px rgba(0,0,0,1), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    transition-duration: 0.30s
}



.portfolioImage {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transform: rotate(180deg);
}

.portfolioImage:hover {
    width: 100%;
    height: 90%;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.social {
    margin-top:250px;
    margin-right:200px;
    float:right;
}

.social li {
    padding:10px;
    list-style: none;
}

.social a {
    text-decoration: none;
    color: #000000;
}

.social a:hover {
    font-size: 18px;
}

.icon {
    margin-right:5px;
}


.logo {
 margin-top:7px;
 margin-left:-145px;
}

.homelink:hover {
    cursor:pointer;
}

.navigation {

}

.navigation ul {
    display:flex;
    flex-direction: row;
}

.navigation li {
    list-style: none;
    padding:10px;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}


.navigation a:hover {
    text-decoration: none;
    color: #E6E6E6;
}

.navigationMobile a{
        text-decoration: none;
        color: #000000;
        font-size: 20px;
}

.navigationMobile li {
    margin-left: -150px;
    list-style: none;
    padding:10px;
}

.navigationMobile a:hover {
    text-decoration: none;
    color: #E6E6E6;
}

.aboutContainer {
    display:flex;
    flex-direction:column;
    width:100%;
    height:90vh;
}

.aboutContent {
    font-size: 18px;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:65vw;
}

.portContainer {
    box-sizing: border-box;
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;

}

.work {
    margin:10px;
    padding:10px;
    width:35vw;

}

.work li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.thumbnail {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.thumbnail:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

::-webkit-scrollbar {
    display: none;
}

.profilePic {
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

