body{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}


.splashContainer {
    margin-top:30px;
    background-image: url("/images/newsize.png");
    height:98vh;
    width:1420px;
}

.portfolio {
    margin-top:190px;
    margin-left:110px;
    width: 280px;
    height:130px;
    background-color: white;
    transform: rotate(160deg);

}

.blog {
    margin-right: 90px;
    margin-top: 190px;
    width: 280px;
    height:130px;
    background-color: white;
    transform: rotate(20deg);
}

.about {
    margin-left:20px;
    margin-top:-15px;
    width: 280px;
    height:130px;
    background-color: white;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.portimage:hover {
    box-shadow: -10px -10px 30px 5px #000000;
    cursor: pointer;
}

.blogimage:hover {
    box-shadow: 10px 1px 30px 5px #000000;
    cursor: pointer;

}

.aboutImage:hover {
    width: 105%;
    height: 110%;
    box-shadow: 10px 10px 30px 5px #000000;
    cursor: pointer;
    transition-duration: 0.30s
}

.blogImage:hover {
    width: 105%;
    height: 110%;
    box-shadow: 10px 10px 30px 5px #000000;
    cursor: pointer;
    transition-duration: 0.30s
}

.portfolioImage {
    transform: rotate(180deg);
}

.portfolioImage:hover {
    width: 105%;
    height: 110%;
    cursor: pointer;
    transition-duration: 0.30s
}

.social {
    margin-top:250px;
    margin-right:200px;
    float:right;
}

.social li {
    padding:10px;
    list-style: none;
}

.social a {
    text-decoration: none;
    color: #000000;
}

.social a:hover {
    font-size: 18px;
}

.icon {
    margin-right:5px;
}

header {
    margin-left:-16px;
    margin-top:-10px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:60px;
    background-color:#66BB6A;
    box-shadow:1px 1px 1px black;
}

.logo {
 margin-left:-145px;
}

.homelink:hover {
    cursor:pointer;
}

.navigation {

}

.navigation ul {
    display:flex;
    flex-direction: row;
}

.navigation li {
    list-style: none;
    padding:10px;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.navigation a:hover {
    text-decoration: none;
    color: #E6E6E6;
}


.aboutContainer {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height: 100%;
}

.aboutContent {
    width:65vw;
}

.work {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;

}

.work ul{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:90vw;
    height:87vh;
    overflow: auto;
}

.work li{
    padding: 30px;
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

