
<div class="aboutContainer">
    <div class="aboutContent">
        <article>
            <h1>Who am I?</h1>
            <p>Lorem ipsum dolor sit amet, est ei copiosae invidunt, sit te graeci noluisse efficiantur. Idque convenire efficiantur at ius. Eum no omnes nonumes, cu copiosae suavitate eum. Et eius posse detracto vel. Ei pri nibh partem elaboraret, an mea omnium regione deleniti, in noster eligendi abhorreant usu. Brute animal saperet ea eum.

                Te debitis atomorum sit, invenire consetetur no qui. Id duo lorem inani offendit. At sed iisque constituto adversarium, te veritus vulputate nam. Eos ut dicam admodum, eros malorum tractatos ea cum.

                Sea zril homero iuvaret ei, eirmod fierent mediocritatem his ne. Sonet scripta fastidii has ne. Ex agam inani appetere pri. His choro dissentiunt cu, ad commune inimicus omittantur nec, pri cu sumo populo salutatus. Vim definiebas disputando no, eirmod tacimates theophrastus ea sit, regione salutatus eos ne.
            </p>
        </article>
        <article>
            <h1>What do I offer?</h1>
        </article>
        <article>
            <h1>Need a developer?</h1>
            <p>contact me!</p>
        </article>
    </div>
</div>
