
<div class="aboutContainer">
    <div class="aboutContent">
        <article>
            <h1>Who am I?</h1>
            <p>
                I am a developer from Detroit, MI.
                I am very passionate about web development, and love all aspects
                of the development process. I am addicted to learning, and get excited
                about new technologies. I am a huge tech geek, but also an avid outdoorsman.
                Overall I just love life. Thank you for checking me out. Salud!
            </p>
        </article>
        <article>
            <h1>Need a developer?</h1>
            <p><a href="mailto:peter.aguilar2287@gmail.com">Contact me!</a> I would love to build something cool with you.</p>
        </article>
    </div>
</div>
