<form ng-model='Form' ng-submit="formSubmit()">
    <label for="title">Title</label>
    <input type="text" name="title" ng-model="title"/>
    <label for="url">URL</label>
    <input type="text" name="url" ng-model="url"/>
    <label for="thumbnail">Thumbnail</label>
    <input type="text" name="thumbnail" ng-model="thumbnail"/>
    <label for="desc">Description</label>
    <textarea ng-model="description" name="desc"></textarea>
    <button type="submit" class="postBtn">Submit Post</button>
</form>