

<div class="work">
    <ul>
        <li><img src="../images/window.png" width="350" height="250"/><p>info about site</p></li>

        <li><img src="../images/window.png" width="350" height="250"/><p>info about site</p></li>
        <li><img src="../images/window.png" width="350" height="250"/><p>info about site</p></li>
        <li><img src="../images/window.png" width="350" height="250"/><p>info about site</p></li>
        <li><img src="../images/window.png" width="350" height="250"/><p>info about site</p></li>
    </ul>
</div>