<div class="splashContainer">
    <div class="thumbnails">
        <div class="portfolio portimage">
            <img ui-sref="portfolio" class="portfolioImage" src="/images/portfolio.png" width="250" height="110">
        </div>
        <div class="about image">
            <img ui-sref="about" class="aboutImage" src="/images/about.png" width="250" height="110">
        </div>
        <div class="blog blogimage">
            <img ui-sref="blog" class="blogImage" src="/images/blog.png" width="250" height="110">
        </div>
    </div>
    <ul class="social">
        <li><a href="https://www.linkedin.com/in/peteraguilar" target="_blank"><i class="fa fa-linkedin fa-lg icon" aria-hidden="true"></i>LinkedIn</a></li>
        <li><a href="https://github.com/aguilar8788" target="_blank"><i class="fa fa-github-square fa-lg icon" aria-hidden="true"></i>Github</a></li>
        <li><a href="https://drive.google.com/file/d/0B07PI7GXfMf4V0MyUmNnbmdyVjA/view?usp=sharing" target="_blank"><i class="fa fa-file-text fa-lg icon" aria-hidden="true"></i>Resume</a></li>
    </ul>
</div>

<div class="mobileContent">
    <div class="navigationMobile">
        <li><a ui-sref="about">about</a></li>
        <li><a ui-sref="portfolio">work</a></li>
        <li><a ui-sref="blog">blog</a></li>
    </div>
    <div class="aboutContainer">
        <div class="aboutContent">
            <img class="profilePic" src="../images/profilePic.jpg" width="350" height="350" />
            <article>
                <h1>Who am I?</h1>
                <p>
                    I am a developer from Detroit, MI.
                    I am very passionate about web development, and love all aspects
                    of the development process. I am addicted to learning, and get excited
                    about new technologies. I am a huge tech geek, but also an avid outdoorsman.
                    Overall I just love life. Thank you for checking me out. Salud!
                </p>
            </article>
            <article>
                <h1>Need a developer?</h1>
                <p><a href="mailto:peter.aguilar2287@gmail.com">Contact me!</a> I would love to build something cool with you.</p>
            </article>
        </div>
    </div>
</div>
